{
  "presets": [ "es2015", "es2017" ],
  "plugins": [
    "babel-plugin-inline-import", // plugin for importing text files as string (for .graphql)
    "babel-plugin-transform-object-rest-spread" // plugin for transforming object spread syntax ({...object})
  ]
}